/*
Bright Rain Blue:
#294294

Bright Rain Orange:
#EF9C00
*/
html, body {
  	width:100%;
  	height: 100%;
	overflow:hidden;
	margin:auto;
}
body {
	text-align: left;
	background-color:#777;
	overflow:hidden;
	font-size: 75%;	
	font-family: 'Open Sans', sans-serif;
}
a:hover {
 text-decoration:none !important;
}
#map {
	height:100%;
	width:100%;
	max-width:100%;
}
#main {
	font-size: 1.2em;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.4);
    position: absolute;
    right: 1.5em;
    top: 1em;
	z-index: 2;
	float: right;
    width: 40%;
    height: 95%;
    background-color: white;
    opacity: 0.8;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 1em;
}
#brs-tab-content {
    height:80%;
    overflow-y:scroll;
}
#client-info
{
    font-size: 6em;
    font-weight:900;
    color:#294294;
    position: absolute;
	left: 1em;
	bottom: 0.3em;
	z-index: 3;
}
#brs-footer {
    height:10%;
	background-color:white;
	overflow:hidden;
	padding:0.2em;
    text-align:center;
    border-top: 1px dotted #294294;
}
/*This is to deal with the collision between arcgis js api and bootstrap container class
bootstrap uses media query to set max width for a container and arcgis uses the container class for the
injected map parts so we're just going to use wildcard to set all map parts (e.g*/
.container[id*='map'] {
	max-width: 100% !important;
}
.brs-header
{
    font-weight:900;   
}
.brs-subtle {
    font-style:italic;
    font-size:0.8em;
}
.brs-blue
{
    color: #294294;
}
.brs-tabs.nav-tabs
{
    border-bottom: 2px solid #294294;
}
.nav-tabs.brs-tabs li.brs-tab>a
{
    border: none;
    color: #666666;
    background-color:transparent;
}
.nav-tabs.brs-tabs li.brs-tab>a:hover
{
    color: #294294;
    background-color:transparent;
    font-weight:300;
}
.nav-tabs.brs-tabs li.brs-tab.active>a
{
    border: none;
    color: #294294;
    font-weight:900;
}
.nav-tabs.brs-tabs .brs-tab.active
{
    border-bottom: 4px solid #EF9C00;
}
.nav-tabs.brs-tabs>brs-tab>li>a
{
    color: blue !important;
    font-weight:900;
}
#logo-banner {
	position:absolute;
	z-index:1;
	top:0.5em;
	left: 2em;
}
#brs-logo {
	max-width:100% !important;
    height:auto;
    display:block;	
}
.brs-badge
{
    font-size:1.2em;
}
/**/
#center-container {
	background-color:white;
	margin:3px;
	text-indent:2px;
}
.core-thing {
    border:1px solid #EF9C00;
	border-radius: 10px;
	padding: 0.25em;
    width: auto;
    cursor: default;
    font-size: 0.8em;
}
.project-container {
	float:right;
	text-align:left;
}

.project-images {
	float: left; 
    margin: 4px; 
}

.blog-entry-pane {
	border: 2px solid #ccc;
	border-radius: 10px;
	font-size: 1em;
	padding: 15px;
}
.blog-date {
	font-size: 10px;
}
.blog-entry-pane:hover {
	border: 2px solid #EF9C00;
	background-color:#ccc;
}
li { list-style-type:none; }
#legal-junk {
	font-size:8pt;
}
#preloader
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #fff;
	position: absolute;
	z-index: 999;
}
#preload-spinny-globe
{
    left:49%;
    top:49%;
    font-size:3em;
    color:#EF9C00;
    position: absolute;
    z-index: 1000;
}
.bio-pic {
	text-align:left;
	padding-right:20px;
	float:left;
}